.slideshow {
    overflow: hidden;
    position: relative;
    min-height: 40vh; /* Adjust as needed to fit your design */
}

.slide-container {
    display: flex;
    align-items: center; /* This will vertically center your slides in the slideshow */
    animation: scrollSlide 40s linear infinite; /* Adjust the timing as needed */
    gap: 10px; /* Space between slides */
}

.slide {
    flex: 0 0 auto;
    width: 200px; /* Width of each slide */
    height: 20rem; /* Height of each slide, can adjust as needed */
    overflow: hidden; /* Ensures that the images don't overflow their container */
}

.slide img {
    width: 100%; /* Will make the image fill the width */
    height: 100%; /* Will make the image fill the height */
    object-fit: cover; /* Ensures the image covers the slide area, may crop */
    display: block;
}


@keyframes scrollSlide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0); /* Slide everything to the left by its own width */
    }
}