.info-cards {
    display: flex;
    justify-content: center;
    align-items: stretch; 
    flex-wrap: wrap; 
    gap: 2rem; 
    padding: 5rem;
    font-size: 1.6rem;

    
}

.card {
    flex: 1; 
    max-width: calc(33.333% - 20px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    background: white;
    transition: transform 0.3s ease-in-out;
    
}

.card:hover {
    transform: translateY(-5px); 
}

.card h3 {
    margin-top: 0;
    color: #333;
}

.card p {
    color: #666;
}

.card__btn {
    background-color: red; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
   
}

.card__btn:hover {
    background-color: #0056b3; /* A darker shade for the hover state */
}