.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #fff;
    height: 70px;
    font-size: 1.7rem;
}

.navbar__menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.navbar__logo img {
    max-width: 100%;
    height: auto;
    width: 100px;
    padding-top: 10px;
}

.navbar__item .navbar__link {
    text-decoration: none;
    color: black;
}

.navbar__buttons {
    display: flex;
    gap: 10px;
}

.navbar__button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
    font-family: 'Afacad', sans-serif;
    font-size: 1.7rem;
}

.navbar__button--werken {
    background-color: red;
    color: white;
}


@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .navbar__menu {
        flex-direction: column;
        width: 100%;
    }

    .navbar__buttons {
        width: 100%;
        justify-content: space-evenly;
    }
}